{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<link rel="stylesheet" href="/themes/ludvigs/assets/styles/css/main.css">
<header class="main">
    <div class="header-navigation">
        {{ page.header }}
        {{ page.primary_menu }}
    </div>
</header>
{% if page.section_1 %}
    <section id="section-top">
        {{ page.section_1 }}
    </section>
{% endif %}
{% if page.warnings_messages %}
    <mark>
        {{ page.warnings_messages }}
    </mark>
{% endif %}
{% if page.tiles %}
    <section id="tiles">
        {{ page.tiles }}
    </section>
{% endif %}
{% if (page.content) and (not root_path) %}
    <main>
        {{ page.content }}
    </main>
{% endif %}
{% if (page.sidebar_first) or (page.sidebar_second) %}
    <div class="sidebar_sections">
        <aside>
            {{ page.sidebar_first }}
        </aside class="sidebar_first">
        <aside class="sidebar_second">
            {{ page.sidebar_second }}
        </aside>
    </div>
{% endif %}
{% if page.section_2 %}
    <section id="section-middle">
        {{ page.section_2 }}
    </section>
{% endif %}
{% if page.section_3 %}
    <section id="section-bottom">
        {{ page.section_3 }}
    </section>
{% endif %}
{% if page.footer %}
    <footer>
        {{ page.footer }}
    </footer>
{% endif %}
